img {
    width: fit-content;


}






header {
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: lightgrey;
    align-content: center;

}

body {
    background-image: url("https://www.wallpaperflare.com/static/666/270/487/walhalla-overlook-north-rim-grand-canyon-wallpaper.jpg");
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: auto;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;



}

footer {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: lightgrey;

}






#headshot {
    padding-bottom: 10%;

}


.card-text,
.card-title {

    color: black;
}







.card-body {
    align-content: center;
    background-color: lightgrey;
    border: darkgrey;
    padding-top: 15%;
}
.btn-cont{
    text-align: center;
    align-self: center;
    margin-left: 40%;
    margin-bottom: 10%;


}

.btn {
    text-align: center;
    align-self: center;
 
}






.row {
    margin-top: auto;
    padding-top: 5%;
}


.badge {
    color: lightgrey;
    ;

}

.contact-me {
    color: black;
    font-size: 20px;
    font-weight: bold;


}

.h.contact-me-h {
    color: black;
    font-size: 30px;
    font-weight: bold;
 

}

h5 {
    font-size: 20px;

}

#emailHelp {
    color: black;
}