img {
    width: fit-content;


}

head {
    /* background-color; */


    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 40px;
    padding-bottom: 40px;
    color: white;


}



header {
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: lightgrey;
    align-content: center;


}

body {
    background-image: url("https://www.wallpaperflare.com/static/666/270/487/walhalla-overlook-north-rim-grand-canyon-wallpaper.jpg");

    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: auto;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;



}

footer {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: lightgrey;

}





#about-me-div,
#project-div,
#contact-div {
    background-color: rgba(255, 255, 255, 0.568);
    align-content: center;


}





#headshot {
    padding-bottom: 10%;

}


.card-text,
.card-title {

    color: black;
}







.card-body {
    align-content: center;
    background-color: lightgrey;
    border: darkgrey;
    padding-top: 15%;
}

.btn-cont {
    text-align: center;
    align-self: center;
    margin-left: 40%;
    margin-bottom: 10%;


}

.btn {
    text-align: center;
    align-self: center;

}

#about-me,
.mt-0 {
    color: black;
    font-weight: bolder;
    font-size: larger;
    /*  */
}

#contact-div {

    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    text-align: center;
    font-family: 'Noto Sans SC', sans-serif;

    
}
#contact-buttons{
  
   
   margin-left: 32%;
    
}

#geogram {
    max-width: 100%;
    max-height: 100%;
}


.row {
    margin-top: auto;
    padding-top: 5%;
}


.badge {
    color: lightgrey;
    ;

}

.contact-me {
    color: black;
    font-size: 20px;
    font-weight: bold;


}

.contact-header {
    color: black;
    font-size: 40px;
    font-weight: bold;

}

h5 {
    font-size: 20px;

}

#emailHelp {
    color: black;
}