
head{
    /* background-color; */
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 40px;
    padding-bottom: 40px;
    color:black;

    
}
header{
    font-size: 65px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color:#5851DB;
}
body {
    background-color: azure;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: auto;
   
}
container{

    background-color: white;
}
label{
    color: #5851DB;
}
.row{
    margin-top: auto;
    padding-top: 5%;
}
footer {
    text-align: center;
    font-family: 'Roboto', sans-serif;

}
.nav-item , .badge{
    background-color:#5851DB ;

}
label{
    color: #5851DB;
    font-size: 20px;
}
h5{
font-size: 20px;

}
